<div class=" container-fluid footer my-5 text-muted text-center">
    <p class="mb-1">© 2021 Media File</p>
    <ul class="list-inline">
    <a href="whatsapp://send?phone=+14155238886&text=join dug-sick"><i class="fab fa-whatsapp"></i></a>
    <a href="https://instagram.com/__adarsh__nayak__"><i class="fab fa-instagram"></i></a>
    <a href="https://discord.com/#3202" name=""><i class="fab fa-discord"></i></a>
    <a href="mailto:adarshnayak86@gmail.com?subject=From Media File"><i class="far fa-envelope"></i></a>
    </ul>
    <script type="text/javascript" src="jscript/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>
    </body>
</html>
