<%-include("partials/header")-%>
<div class="row everi">
<form class="card col-md-6" action="/everify" method="post">
<h1 style="color:#51c4d3">Verification</h1>
<p style="color:#132c33">Enter the <b>Registered Email ID</b> to proceed with chaning <b>password</b> linked to the account</p>
<input class="form-control" type="eamil" name="fpemail"  placeholder="Email ID" required>
<button class="btn btn-lg btn-outline-secondary" type="submit" name="button">Submit</button>
</form>
</div>
<%-include("partials/footer")-%>
