<%-include("partials/header")-%>
<body onload="hideButtons()"></body>
<main>
    <section class="text-center container">
        <div class="row prev-first">
            <div class="col-md-5 mx-auto">
                <h1 class="fw-light">Hello there</h1>
                <p class="lead text-muted">These are the pictures that you have uploaded want to upload more click on upload</p>
                <p>
                    <a href="/upload" class="btn btn-lg btn-outline-primary">Upload</a>
                    <a id="logout" href="/logout" class="btn btn-lg btn-outline-dark">Logout</a>
                </p>
            </div>
        </div>
    </section>


</main>
<%-include("partials/footer")-%>
