    <%-include("partials/header")-%>
    <main >
        <div class="prev-first container">
            <div class="col-md-5 mx-auto">
                <h1 class="display-4 fw-normal">MEDIA FILE</h1>
                <p class="lead fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vel pulvinar dolor. Donec ullamcorper euismod dui id hendrerit. Quisque convallis odio non leo cursus, in bibendum nisi pretium. Duis cursus augue</p>
                <a class="btn btn-lg btn-outline-warning" href="/register">Register</a>
                <a class="btn btn-lg btn-outline-success" href="/login">Login</a>
            </div>
        </div>
        <div class="container-fluid prev-second">
            <div class="row">
                <div class="first col-md-12">
                    <img src="images/pic1.png" alt="pic1.png"></div>
            </div>
            <div class="row">
                <div class="second col-md-4">
                    <img src="images/pic2.png" alt="pic2.png">
                </div>
                <div class="third col-md-8">
                    <img src="images/pic3.png" alt="pic3.png">
                </div>
            </div>
            <div class="row">
                <div class="fourth col-md-8">
                    <video src="video/color_1.mp4" muted autoplay loop poster="posterimage.jpg"></video>
                </div>
                <div class="fifth col-md-4">
                    <img onload="alertFunction();"src="images/pic5.png" alt="pic5.png">
                </div>
            </div>
            <div class="row">
                <div class="sixth col-md-12">
                    <video src="video/nature_1.mp4" muted autoplay loop poster="posterimage.jpg"></video>
                </div>
            </div>
        </div>
    </main>


    <%-include("partials/footer")-%>
