<%-include("partials/header")-%>
<body onload="hideButtons()">
</body>
<div class="row pass">
<form class="card col-md-6" action="/passwordChange" method="post">
<h1>Chnage Password</h1>
<p id="regwarn" style="color:red"><%=pasWarning%></p>
<input class="form-control" type="password" name="password" value="" placeholder="Enter new password" required>
<input class="form-control" type="password" name="password_re" value="" placeholder="Re enter new password" required>
<button class="btn btn-lg btn-outline-warning" type="submit" value="<%=userMail%>" name="button">Chnage</button>
</form>
</div>
<%-include("partials/footer")-%>
